body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: orange

}
p{
    vertical-align: middle;
    text-align: center;
}
#container{
    width: 1396px;
    max-width: 100%;
    height: calc(100vh - 20px);
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0,0,0,0.06);
    display: flex;
    flex-direction: row;
}
    #container #leftSide{
        display: flex;
        flex-direction: column;
        flex: 30%;
        height: 100%;
        width: 100%;
        background: white;
    }

        #container #rightSide{
            display: flex;
            flex-direction: column;
            flex: 70%;
            background: white;
            animation-name: animaçao;
            animation-duration: 10s;
            animation-iteration-count: infinite;
        }

    #leftSide #header{
        width: 100%;
        box-sizing: border-box;
        height: 40px;
        min-height: 40px;
        background: #ededed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0 14px;
    }
    #leftSide .user_img{
        position: relative;
        width: 25px;
        height: 25px;
        border-radius:50%;
        overflow: hidden; 
        cursor: pointer;
    }
    #leftSide .cover{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #leftSide .nav_icons, span{
        display:flex;
    }
    #leftSide .nav_icons span{
        cursor: pointer;
    }
    #leftSide #chatSelec_container{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: #c0c0c0;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        align-content: flex-start;
    }
    #leftSide .chatSelec_nodes, #chatSelec_nodes{
        width: 100%;
        box-sizing: border-box;
        height: 40px;
        min-height: 40px;
        background: #dfc9c9;
        border-radius: 20px;
        justify-content: space-between;
        align-items: center;
        margin: 1px;
        padding:0 14px;
        cursor: pointer;
    }

        #rightSide .message_nodes{
            width: 100%;
            box-sizing: border-box;
            height: 40px;
            min-height: 40px;
            background: #dfc9c9;
            border-radius: 20px;
            justify-content: space-between;
            align-items: center;
            margin: 1px;
            padding:0 14px; 
            visibility: hidden;
        }
        #rightSide #chat_container{
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            background: #888888;
            flex-direction: column;
            overflow-y: scroll;
            overflow-x: hidden;
            align-content: flex-start;
            visibility: hidden;
        }
        #rightSide #footer{
            width: 100%;
            height: 5%;
            box-sizing: border-box;
<<<<<<< HEAD
            background: #ededed;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            visibility: hidden;
        }
        #rightSide #input_text_field{
            width: 100%;
            margin: 5%;
        }
        #rightSide #send_button{
            width: 25px;
            height: 25px;
            margin: 5%;
=======
            background: #e7b939;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            visibility: hidden;
        }
        #rightSide #send_button{
            width: 25px;
            height: 25px;
>>>>>>> 0901ed4f40e5978249d6549ac5651e45800cef5d
            cursor: pointer;
        }


@keyframes animaçao{
    0%{
        background: white}
    50%{
        background: green}
}