body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: orange
    
}
p{
    vertical-align: middle;
    text-align: center;
}
#visibility_property{
    visibility: hidden;
}
.material-symbols-outlined{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
}


#container{
    width: 1396px;
    max-width: 100%;
    height: calc(100vh - 20px);
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0,0,0,0.06);
    display: flex;
    flex-direction: row;
}
    #container #leftSide{
        display: flex;
            flex-direction: column;
            flex: 20%;
            height: 100%;
            width: 100%;
            background: white;
        }
        #container #rightSide{
                display: flex;
                flex-direction: column;
                flex: 80%;
                background: white;
                animation-name: animaçao;
                animation-duration: 10s;
                animation-iteration-count: infinite;
            }


    #leftSide #header_leftSide{
        width: 100%;
        box-sizing: border-box;
        height: 40px;
        min-height: 40px;
        background: #888888;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0px 14px;
    }
    #leftSide #text_input_searchField{
        width: 70%;
        background-color: transparent;
        border-width: 0px;
    }
    #leftSide .user_img{
        position: relative;
        width: 25px;
        height: 25px;
        border-radius:50%;
        overflow: hidden; 
        cursor: pointer;
    }
    #leftSide .cover{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #leftSide #searchBar{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        border-radius: 20px;
        margin: 10px 10px;
        background-color: #c7c7c7;
    }
    #leftSide #chatSelec_container{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: #888888;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        align-content: flex-start;
        scrollbar-color: rgb(76, 76, 76) transparent;
        scrollbar-width:thin;
    }
    #leftSide .chatSelec_nodes, #chatSelec_nodes{
        width: 95%;
        box-sizing: border-box;
        height: 40px;
        min-height: 40px;
        background: #c7c7c7;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px;
        padding: 0 14px;
        cursor: pointer;
    }

        #rightSide #chat_container{
            width: 100%;
            min-width: 480px;
            height: 100%;
            box-sizing: border-box;
            background: #c7c7c7;
            flex-direction: column;
            overflow-y: scroll;
            overflow-x: hidden;
            align-content: flex-end;
            scrollbar-color: rgb(76, 76, 76) transparent;
            scrollbar-width:thin;
        }
        #rightSide #header_rightSide{
            width: 100%;
            box-sizing: border-box;
            height: 40px;
            min-height: 40px;
            background: #ededed;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:0 14px;
        }
        #rightSide .user_img{
            position: relative;
            width: 25px;
            height: 25px;
            border-radius:50%;
            overflow: hidden; 
            cursor: pointer;
        }
        #rightSide .message_nodes{
            min-width: 5%;
            width: fit-content;
            min-height: 40px;
            height: fit-content;
            box-sizing: border-box;
            word-wrap: break-word;
            background: #888888;
            border-radius: 20px;
            align-items: center;
            margin: 10px;
            padding:5px 15px 5px 15px; 
        }
        #rightSide #footer{
            width: 100%;
            height: 5%;
            box-sizing: border-box;
            background: #ededed;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }
        #rightSide #text_input_messageField{
            width: 100%;
            margin: 5px;
            background-color: transparent;
        }
        #rightSide #send_button{
            width: 25px;
            height: 25px;
            color: #e7b939;
            cursor: pointer;
        }


        @keyframes animaçao{
            0%{
                background: white}
            50%{
                background: green}
        }

@media (max-width: 1000px) {
    
}