*{
    box-sizing: border-box;
 
}
body{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: bisque;

}

.contaner {
    height: 500px;
    width: 800px;
    border: 1px solid black;
    display: flex; 
    position: relative;
    
    
    
}

.criar-cadastro {
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  border: 1px solid black;
  z-index: -1;
  
}
.criar-cadastro input{
    height: 30px;
    margin-left: 40PX;
    margin-right: 40px;
    margin-top: 2px;
    font-size: 1em;
    margin-bottom: 20px;
   
}

.criar-cadastro h2{
    text-align: center;
    font-size: 2em;
}

.btn {
    background-color: rgb(238, 102, 62);
    text-align: center;
    padding: 14px 14px;
    width: 30%;
    color: white;
    margin: 15px auto;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;

}


#fazer-login {
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    border: 1px solid black;
    z-index: 1;
}

#fazer-login input{
    height: 30px;
    margin-left: 40PX;
    margin-right: 40px;
    margin-top: 2px;
    font-size: 1em;
    margin-bottom: 20px;
}

#fazer-login h2 {
    text-align: center;
    font-size: 2.5em;
    
}

#fazer-login a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 10px;
    
}

#efeito {
    z-index: 1;
    width: 50%;
    height: 80px;
    position: absolute;
    background-color: rgb(238, 102, 62);
    height: 500px;
    /* left: 400px; */
    left: 0px;
    text-align: center;
    color: white;
   
     

}


